/* styles.css */

.tree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node {
  background-color: lightblue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.node-value {
  color: blue;
  font-size: 24px;
}

.child-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.left-child,
.right-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-child .node,
.right-child .node {
  margin-top: 20px;
}
